
/*Navegator*/
nav {
  display: flex;
  justify-content: space-between;
  background-color:black;

}

.logo {
  font-size: 30px;
  color:#FBFCFF;
}

nav ul{
  list-style: none;
  align-content: center;
}

nav ul li{
  display: inline-block;
  margin-right: 30px;
 }

nav ul li a {
  text-decoration: none;
  color: #FBFCFF;
}
/*Home*/
.home{
  margin:0 auto;
  text-align: center;
  padding-top: 200px;

}
.home h1{
   background: -webkit-linear-gradient(left, gray , black, gray);
   background: -o-linear-gradient(right, gray , black, gray);
   background: -moz-linear-gradient(right, gray, black, gray);
   background: linear-gradient(to right,gray , black, gray);
margin: 1rem;
   color:#505050;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin: 0;
  font-size:  3rem;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
}

.home p{
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 800px;
  margin-bottom:50px;
}

.rectangle {

  background: rgba(255,255,255, 0.5);
  margin-right: 180px;
  margin-left: 180px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
}

.home a{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
  font-weight:600;
  font-size: 1.5rem;
  color: rgba(255, 0, 150, 1);;
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
}

.infoAbout{
  background-color: #e5dcd7;
}

.clearfix{
  padding-top: 80px;
}
.infoAbout h3{
  font-size:25px;
  font-weight: 400;
}

.description {
  background: rgba(0,0,0, 1);
  margin-right: 325px;
  margin-left: 50px;
  margin-top: 75px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  color: #e5dcd7;
  text-align: justify;
  
}


