
/*Navegator*/
nav {
  display: flex;
  justify-content: space-between;
  background-color:black;
  color: white;
  height: 100px;

}
nav ul a{
  color: white;
}

.logo {
  font-size: 30px;
  color:#FBFCFF;
  padding-top: 35px;
}



nav{
  margin-top: 0px;
}

nav ul{
  list-style: none;
  align-content: center;


}

nav ul li{
  display: inline-block;
  margin-right: 30px;
  padding-top: 35px;
 }

nav ul li a {
  text-decoration: none;
  color: white;
}

/*Home*/
.home {
  margin:0 auto;
  text-align: center;
 

}
.home h1{
   background: -webkit-linear-gradient(left, gray , black, gray);
   background: -o-linear-gradient(right, gray , black, gray);
   background: -moz-linear-gradient(right, gray, black, gray);
   background: linear-gradient(to right,gray , black, gray);
margin: 1rem;
   color:#505050;
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  
  margin: 0;
  font-size:  4rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom:15px; 
  padding-top:30px;
  
}

 .home p{
  color: black;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 800px;
  margin-bottom:50px;
  font-family: 'Parisienne', cursive;
}

.rectangle {

  background: rgba(255,255,255, 0.5);
  margin-right: 180px;
  margin-left: 180px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  margin-top: 120px;
  box-shadow: 0 3px 3px 0 rgba(225,225,225,1);
}

.home a{
  box-shadow: 0 3px 3px 0 rgba(0,0,0,1);
  font-weight:600;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 1.25rem 2.5rem;
  border-radius: 5px;
}

/*AboutME*/
.clearfix{
  padding-top: 80px;
}
.infoAbout h3{
  font-size:25px;
  font-weight: 400;
}

.description {
  /*background: rgba(0,0,0, 1);*/
 
  margin-right: 325px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom:50px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  color: black;
  text-align: justify;
  padding: 20px;
  font-family: 'Overlock', cursive;
  
}
/*Projects and conatct*/
.content {
  /*background: rgba(0,0,0, 1);*/
 
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom:50px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  color: black;
  text-align: justify;
  padding: 20px;
  font-family: 'Overlock', cursive;
  
}

.endrectangle {

  background: rgba(255,255,255, 0.5);
  margin-right: 300px;
  margin-left: 300px;
  margin-bottom:50px;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
  margin-top: 120px;
  box-shadow: 0 3px 3px 0 rgba(225,225,225,1);
}

.endrectangle h1{
  font-size:  2rem;
  font-family: 'Parisienne', cursive;
  text-align: center;
 padding-left: 5px;
 padding-right: 5px;
}

a.homebtn{
  margin-bottom: 100px;

}



